<h1> Heroes <small>Marvel y DC</small> </h1>
  <hr>

  <div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

           <button (click)="verHeroe(i)"
           type="button" class="btn btn-outline-primary btn-block">
            ver mas...
          </button>

        <!--  <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver mas...</a> -->



        </div>
      </div>



  </div>
