<h1> Buscando: <small>{{ termino }}</small> </h1>
  <hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
<div class="col-md-12">
  <div class="alert alert-info" role="alert">
    No existen resultados con el termino: {{ termino }}
</div>
</div>
</div>

  <div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

           <button (click)="verHeroe(i)"
           type="button" class="btn btn-outline-primary btn-block">
            ver mas...
          </button>




        </div>
      </div>



  </div>
