<h1 class="animated fadeIn">{{heroe.nombre | uppercase }} <small>({{heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">

    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
  <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>

  </div>

  <div class="col-md-8">
    <br>
    <h3>{{heroe.nombre}}</h3>

      <hr>
      {{heroe.bio}}

      <div *ngIf=" heroe.casa == 'Marvel' ">
          <img class="img-logo" src="assets/img/marvel.png" alt="">
        </div>
        <div *ngIf=" heroe.casa == 'DC'">
          <img class="img-logo" src="assets/img/dc.png" alt="">
        </div>

  </div>

</div>
